/* import fonts */
@import url('https://stockfont.org/?4a5bb014f59603eb330910c7693749a32bf221a66f2e9e6dedf281c5e9dc8dcb');

* {
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    /* background-color: #F3EDED; */
    background-color: white;
}

h1 {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    color: white;
    font-weight: 400;
}



h2 {
    font-size: 22px;
    font-weight: 400;
}

.application_container {
    height: 100vh;
    width: 100%;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 1fr 1fr;
}

header {
    background-color: #358F6D;
    height: 100%;
    width: 100%;
    grid-column: 1;
    grid-row: span 2;
}

main {
    height: 90%;
    width: 90%;
    margin: auto ;
    grid-column: 2;
    grid-row: span 2;
    display: flex;
    flex-direction: column;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: 500;
    letter-spacing: .2px;
}

nav {
    width: 100%;
    overflow: auto;
}

form {
    display: flex;
    flex-direction: column;
}


form input {
    width: 300px;
    height: 25px;
    background-color: none;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px 0px;
}
 select {
    width: 300px;
    height: 25px;
    background-color: none;
    border-radius: 5px;
    border: 2px solid black;
    margin: 20px 0px;
}


.inner_container {
    width: 90%;
    height: 100%;
    margin: 0 auto;
    ;
}

table {
    border-collapse: separate;
    width: 100%;
    border-radius: 12px;
    background-color: white;
    border-spacing: 0;
    height: fit-content;
  }

  th {
      padding: 20px;
      background-color: #FAFBFC;
      color: grey;
      font-weight: 400;
  }

  th:first-child {
    border-top-left-radius:12px;
    border-bottom-left-radius: 12px;
  }
   
  th:last-child {
    border-top-right-radius:12px;
    border-bottom-right-radius: 12px;
  }

  td {
      padding: 10px 0px;
      text-align: center;
  }




/* Header */

.company_header {
    width: 100%;
    padding: 20px 0px;
    

}






/* Admin Nav */
.admin_nav {
    height: 50%;
    width: 100%;
}

.admin_nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}





/* Template */

.template_heading {
    width: 100%;
    padding: 10px 0px;
    display: flex;
    flex-direction: row;
}

.template_heading ul{
    display: flex;
    align-items: center;
}

.template_heading li {
    padding: 0px 10px;
    width: fit-content;
    height: fit-content;
    background-color: black;
    border-radius: 12px;
}

.template_heading a {
    color: white;
    font-size: 16px;
    font-weight: 300;
}


form.edit_delete {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


form.edit_delete>input{
    width: 50px; 
    margin: 0px 10px;
        
}